* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  background-color: black;
}

.app {
  background: linear-gradient(#3c97e6, #c52487 90%);
  display: flex;
  width: fit-content;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
  margin-top: 5%;
}
